/* estilos*/

.body {
     font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}  


.footer {
    background-color: #222;
    color: white;
    padding: 2rem 0;
    margin-top: 2rem;
    text-align: center;

}
